.carrinho-header{
    width: 100%;
    height: 65px;
    display:flex;
    align-items: center;
    background-color:#27AE60;
    border-radius: 5px 5px 0px 0px;
    font-weight: bold;
    font-size: 18px;
    color:#fff;
    padding-left: 20px;
    box-sizing: border-box;
}
.carrinho-footer{
    border-top: 2px solid #E0E0E0;
    background: #F5F5F5;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 10px;
    box-sizing: border-box;
}
.carrinho-footer > div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}
.carrinho-footer > button{width: 100%;}
@media screen and (max-width:768px){
    .carrinho-header{
        font-size: 15px;
    }
    .carrinho-main{
        height: 120px;
    }
    .carrinho-footer{
        flex-direction: row;
        width: 100%;
        height: 40px;
        padding: 1px;
        border-radius: 0;
    }
    .carrinho-footer > div{
        justify-content: initial;
        align-items: center;
        padding:10px;
    }
    .carrinho-footer > button{
        height: 100%;
        width: 100%;
        border-radius: 0;
    }
}